body {
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-top: 6rem;
}

h3 {
  margin-right: 1rem;
  display: inline;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.day-block {
  width: 11px;
  height: 11px;
}

.habit-section {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
